@media (max-width: 0) {
  .responsive-colors {
    background: red;
  }
}
@media (max-width: 480px) {
  .responsive-colors {
    background: green;
  }
}
@media (max-width: 720px) {
  .responsive-colors {
    background: rgb(85, 85, 134);
  }
}
@media (max-width: 960px) {
  .responsive-colors {
    background: orange;
  }
}
@media (max-width: 1200px) {
  .responsive-colors {
    background: blue;
  }
}

.video-page-main-container {
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
}
.video-page-main-container .video-page-container {
  display: flex;
  width: 99%;
  height: 89%;
  margin-top: 1.1rem;
  gap: 1.3rem;
  border: none;
}
@media (max-width: 960px) {
  .video-page-main-container .video-page-container {
    gap: 0.6rem;
  }
}
.video-page-main-container .video-page-container .back-btn {
  border: white 3px solid;
  width: 70%;
  height: 5%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.7rem;
  color: white;
}
@media (max-width: 960px) {
  .video-page-main-container .video-page-container .back-btn {
    width: 50%;
    height: 3%;
  }
}
@media (max-width: 480px) {
  .video-page-main-container .video-page-container .back-btn {
    border: white 1px solid;
    width: 70%;
  }
}
.video-page-main-container .video-page-container .back-btn .back-icon {
  font-size: 1.4rem;
}
@media (max-width: 960px) {
  .video-page-main-container .video-page-container .back-btn .back-icon {
    font-size: 0.8rem;
  }
}
.video-page-main-container .video-page-container .video-player {
  margin-top: 0.8rem;
  width: 92%;
  height: 97%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
}
@media (max-width: 480px) {
  .video-page-main-container .video-page-container .video-player {
    margin-top: 2.5rem;
    margin-left: -1.4rem;
  }
}
.video-page-main-container .video-page-footer {
  width: 91%;
  height: 3%;
  margin-left: 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .video-page-main-container .video-page-footer {
    margin-left: 5.5%;
  }
}
@media (max-width: 960px) {
  .video-page-main-container .video-page-footer {
    margin-left: 7.5%;
    font-size: 0.8rem;
  }
}
@media (max-width: 480px) {
  .video-page-main-container .video-page-footer {
    font-size: 0.6rem;
    margin-left: 4%;
    margin-top: 1rem;
  }
}